---
---

@charset "utf-8";

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

/* ここから下に自分用のカスタムCSSを追記していきます */

.page__hero--overlay {
  min-height: 35vh;

  .page__title {
    line-height: 1.6; // 数値を大きくするほど行間が広がります(デフォルトはおおよそ1.2前後)
  }
  
  .page__hero-caption {
    font-size: $type-size-6;
  }
}
